@font-face {
    font-family: "Sabon-Font";
    src: url(Sabon-Font/Sabon-Roman.ttf) format("truetype");
}

#logo {
    float: left;
    width: 150px;
    height: 100px;
}


#webhead {
    font-family: "Sabon-Font", sans-serif;
    padding-top: 45px;
}

#portraitdet {
    font-family: "Sabon-Font", sans-serif;
    padding-top: 45px;
    

}

#navbar {
    float: right;
}

a#imglink {
    display: flex;
    width: 33.25%;
   
}

#gallery1 img {
    width: 33%;
    flex-grow: 1;
}

#gallery2 img {
    width: 33%;
    flex-grow: 1;
}

#gallery3 img {
    width: 33%;
    flex-grow: 1;
}

#gallery1 {
    display: flex;

}

#gallery2 {
    display: flex;
}

#gallery3 {
    display: flex;
}


/* All photos are taken from the Dawn AI app on the Apple App Store */